#information-value {
    padding-left: 30px;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .product-creating-information table,
  th,
  td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .product-creating-information table {
    margin-left: auto;
    margin-right: auto;
  }
  
  .product-images-table table,
  th,
  td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .product-images-table table {
    margin-left: auto;
    margin-right: auto;
  }
  
  .product-image-per-variant {
    width: 300px;
    height: 300px;
  }
  
  .prices-information table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  .prices-information {
    margin-left: auto;
    margin-right: auto
  }