.App {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
}
.main-container{
  background-color: lightblue;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: dimgrey;
  color: #fff;
  height: 200vh;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}
.link{
  display: flex;
  color: #fff;
  padding: 30px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background: lightskyblue;
  color: black;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: black;
}
.icon, .link_text{
  font-size: 20px;
}

input {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

/* Thiết lập định dạng cho button khi được hover */
button:hover {
  background-color: #0069d9;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}